<%- include('../includes/header.ejs') %>
<div class="text-center height300 bg-silver mt-100">

    <h3>Hello, <%= userName %></h3>
    <h4> Welcome to Shop.</h4>
    <br> <br>

    <div>
     <span>
        Recover password in your account. Visit on this link :
         <a href=`http://localhost:4200/forgot/token?token=<%= token %>`>
             <span class="red">Press here</span>
         </a>
     </span>
    </div>
</div>
<%- include('../includes/footer.ejs') %>
